.btn {
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
  font-weight: bold;

  &--confirm {
    background-color: $btn-secondary;
    border: none;
    outline: none;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 1em 5em;
    color: $bg-white;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    &:hover {
      background-color: $btn-secondary-hover;
    }
  }

  &__switch {
    &__casino {
      background: $btn-gradient-fallback;
      background: $btn-gradient-primary--notActive;
      box-shadow: $btn-box-shadow;
      border: none;
      border-right: 1px solid black;
      outline: none;
      font-weight: 500;
      letter-spacing: 3px;
      padding: 1em 5em;
      color: $bg-white;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 10px 0 0 10px;
      transition: 0.3s;
      &:hover {
        background: $btn-gradient-fallback;
        background: $btn-gradient-primary--notActive-hover;
      }
      &--active {
        background: $btn-gradient-fallback !important;
        background: $btn-gradient-primary !important;
        cursor: not-allowed;
        pointer-events: none;
      }
    }

    &__games {
      background: $btn-gradient-fallback;
      background: $btn-gradient-primary--notActive;
      box-shadow: $btn-box-shadow;
      border: none;
      outline: none;
      font-weight: 500;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding: 1em 5em;
      color: $bg-white;
      cursor: pointer;
      border-radius: 0 10px 10px 0;
      transition: 0.3s;
      &:hover {
        background: $btn-gradient-fallback;
        background: $btn-gradient-primary--notActive-hover;
      }
      &--active {
        background: $btn-gradient-fallback !important;
        background: $btn-gradient-primary !important;
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }
  &__control {
    display: flex;

    &__save {
      background-color: $btn-secondary;
      border: none;
      outline: none;
      font-weight: 500;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding: 1em 5em;
      color: $bg-white;
      border-radius: 0 10px 10px 0;
      cursor: pointer;

      transition: 0.3s;
      &:hover {
        background-color: $btn-secondary-hover;
      }
      &:disabled {
        background-color: $btn-disabled !important;
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.4;
      }
    }

    &__delete {
      background-color: $btn-secondary;
      border: none;
      outline: none;
      border-radius: 10px 0 0 10px;
      font-weight: 500;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding: 1em 5em;
      border-right: 1px solid black;
      color: $bg-white;
      cursor: pointer;

      transition: 0.3s;
      &:hover {
        background-color: $btn-secondary-hover;
      }
      &:disabled {
        background-color: $btn-disabled !important;
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.4;
      }
    }
  }
}

@media only screen and (max-width: 970px) {
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2em;
    white-space: normal;
    &__switch {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      white-space: normal;
      &--casino {
        width: 100%;
        padding: 1em 0;
      }
      &--games {
        width: 100%;
        padding: 1em 0;
      }
    }
    &__control {
      width: 100%;
      justify-content: center;
      &--save {
        width: 100%;
        padding: 1em 0;
      }
      &:disabled {
        width: 100%;
        padding: 1em 0;
      }
    }
  }
}
