// FONTS
$font-primary: "Poppins", sans-serif;
//COLORS
$bg-gray-600: #333844;
$bg-gray-900: #242933;
$bg-gray-300: #3f4857;
$bg-white: #fff;
$bg-background-primary: rgb(33, 36, 44);
$btn-secondary: #6f6e6e;
$btn-secondary-hover: #5d5d5d;
// --- gradients
$bg-gradient: linear-gradient(
  180deg,
  rgba(33, 36, 44, 1) 0%,
  rgba(18, 21, 29, 1) 100%
);

$btn-gradient-fallback: rgb(227, 58, 127);
$btn-gradient-primary: linear-gradient(
  93deg,
  rgba(227, 58, 127, 1) 0%,
  rgba(247, 89, 81, 1) 100%
);
$btn-gradient-primary-hover: linear-gradient(
  93deg,
  rgb(241, 70, 138) 0%,
  rgb(245, 99, 91) 100%
);
$btn-gradient-primary--notActive: linear-gradient(
  93deg,
  rgb(160, 31, 83) 0%,
  rgb(165, 57, 51) 100%
);
$btn-gradient-primary--notActive-hover: linear-gradient(
  93deg,
  rgb(184, 45, 101) 0%,
  rgb(185, 74, 68) 100%
);
$btn-gradient-primary-reverse: linear-gradient(
  93deg,
  rgb(245, 99, 91) 0%,
  rgb(241, 70, 138) 100%
);
$btn-gradient-primary-reverse-hover: linear-gradient(
  93deg,
  rgb(246, 113, 106) 0%,
  rgb(248, 86, 151) 100%
);
$btn-disabled: rgb(161, 161, 161);

$btn-box-shadow: 13px 4px 66px rgba(241, 68, 137, 0.3);

$checkbox-width: 18px;
